<% if @recipe.errors.any? %>
  <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @recipe do |f| %>
  <%= f.label :title, 'Título'%>
  <%= f.text_field :title %>
  <%= f.label :recipe_type_id, 'Tipo da Receita'%>
  <%= f.collection_select(:recipe_type_id, RecipeType.all, :id, :name) %>
  <%= f.label :cuisine, 'Cozinha'%>
  <%= f.text_field :cuisine %>
  <%= f.label :difficulty, 'Dificuldade'%>
  <%= f.text_field :difficulty %>
  <%= f.label :cook_time, 'Tempo de Preparo'%>
  <%= f.text_field :cook_time %>
  <%= f.label :ingredients, 'Ingredientes'%>
  <%= f.text_field :ingredients %>
  <%= f.label :cook_method, 'Como Preparar'%>
  <%= f.text_field :cook_method %>
  
  <%= f.submit 'Enviar' %>
<% end %>